.contact-container {
    max-width: 1000px;
    margin: 50px auto;
    font-family: 'Arial', sans-serif;
    line-height: 0.5rem;
  }
  
  .contact-subtitle {
    font-size: 14px;
    color: #161715;
    margin-bottom: 10px;
  }
  
  .contact-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2f99ea;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #f7f7f7;
    padding: 30px;
    border-radius: 8px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;  /* Reduced gap between inputs */
    justify-content: space-between;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;  /* This will allow inputs to take up equal space */
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  textarea {
    resize: none;
  }
  
  .form-terms {
    display: flex;
    text-align: left;
    gap: 0px;
    font-size: 14px;
  }
  
  .submit-btn {
    background-color: #6b6969;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-btn:hover {
    background-color: #333;
  }
  