.settingsContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #f7f8fb;
  border-radius: 10px;
}
.cancel {
  justify-items: right;
  position: relative;
  top: -30px;
}

.settingsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.tabsContainer {
  background: beige;
  width: 100%;
  border-radius: 10px;
}

.tabsList {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tabButton {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.tabButton:hover {
  font-weight: bold;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardDescription {
  color: #6b7280;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.content {
  margin-top: 15px;
}

.toggleRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select,
.input {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.button:hover {
  background-color: #1d4ed8;
}
