.sidebar {
  width: 20rem;
  background-color: rgb(186, 195, 239);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
}
/* 
.sidebar-header {
  padding: 24px;
} */

.sidebar-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #1d4ed8;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #374151;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #f3f4f6;
}

.sidebar-item.active {
  background-color: #eff6ff;
  color: #1d4ed8;
  border-right: 4px solid #1d4ed8;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
